.ttp{
    height: 35vh;
    width: 100%;
}
.botm2{
     display: flex;
     flex-wrap: wrap;
     overflow-y: scroll;
     scrollbar-width: none;
      gap: 20px;
      justify-content: center;
      height: 45vh;
      
}
.botm2::-webkit-scrollbar{
  width: 0px;
}
.bto{
  width: 100%;
  height: 55vh;
}

.address{
   
    width: 100%;
    height: 90vh;
    background: linear-gradient(135deg, #EEEEEE 47.92%, #F6F6F6 60.42%, #EEEEEE 72.92%);
    
}

.pa{
    font-size: 12px;
    font-weight: 400;
    font-family:imported ;
    color: aliceblue;
}
.boton{
 
    border: 2px solid #313131;
    background:#313131;
     border-radius: 4px;
     margin-left: 25px;
}
.lowe1{
  width: 100%;
  height: 10vh;
}
.wrapper {
    display: inline-flex;
    background: #313131;
    height: 40px;
    width: 180px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
   margin-left: 23px;
   border: 2px solid #313131;
  }
  .wrapper .option {
    background: #313131;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    border-radius: 5px;

    transition: all 0.5s ease;
   
  }
  input[type="radio"] {
    display: none;
  }
  input#one:checked ~ .option-1,
  input#two:checked ~ .option-2 {
    background: #717171;
    border-color: #717171;
  }
  input#one:checked ~ .option-1 span,
  input#two:checked ~ .option-2 span {
    color: #fff;
  }
  .wrapper .option span {
    font-size: 20px;
  }


  .total1{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 33vh;
    font-family:imported ;
    position: relative;
}
.tpp-1{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
   position: relative;
}
.password{
   padding: 5px 5px 0px 5px;
   background-color: rgb(84, 80, 80);
   border-radius: 50%;
   margin-left: 20px;
}
.btt-1{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    height: 23vh;
    position: relative;

}

.boat1{
   
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 25px;
 }
 .bv img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
 }
 .boat-1{
    display: flex;
    width: 20%;
    height: 20vh;
     flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

 }
 .bv-1{
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding: 10px;
     object-fit: cover;
     gap:5px;
 }
 .bv-11{
 
   line-height:20px;
 }
 .bv121{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
 }

 .back{
  width:100%;
  height: 22vh;
 position: absolute;
object-fit: cover;
 }
 .bv{
    width: 100px;
    height: 100px;
    padding: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
 }
.bv-0{
display: flex;
align-items:baseline;
gap: 8px;
}
 .bv-111{
  
   font-size: 46px;
   color:rgb(0, 0, 0);
   font-weight: 500;
 }
 .bv-112{
   font-size: 18px;
   color:rgb(0, 0, 0);
   font-weight: 500;
  
 }
 .social{
    padding: 5px 5px 3px 5px;
    background: #FFFFFF;
    border-radius: 4px;
 }
 .sheat{
  display: flex;
  flex-direction: column;
  width: 225px;
  height: 275px;
  border-radius:4px ;
  background: #FFFFFF;
  
}

.bat{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;

}
.coin{
  font-size: 14px;
  font-family:imported ;
}
.bit{
  font-family:imported ;
  font-size: 18px;

}
.btsheat{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 10px;
}
.tpsheat img{
width: 225px;
height: 200px;
border-radius:5px ;

} 



#loader {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}
@keyframes loader {
  0% { left: -100px }
  100% { left: 110%; }
}
#box {
  width: 50px;
  height: 50px;
  background: #636fee;
  animation: animate .5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}
@keyframes animate {
  17% { border-bottom-right-radius: 3px; }
  25% { transform: translateY(9px) rotate(22.5deg); }
  50% {
    transform: translateY(18px) scale(1,.9) rotate(45deg) ;
    border-bottom-right-radius: 40px;
  }
  75% { transform: translateY(9px) rotate(67.5deg); }
  100% { transform: translateY(0) rotate(90deg); }
} 
#shadow { 
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow .5s linear infinite;
}
@keyframes shadow {
  50% {
    transform: scale(1.2,1);
  }
}



body {
  height: 100%;
  width: 100vw;
  cursor: pointer;

}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100vh;
  overflow: hidden;

}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide:nth-child(1) .panel > * {
  background: #ffffff;
  color: #7594f0;
}
.slide:nth-child(2) .panel > * {
  background: #a8cb86;
  color: #bdd194;
}
.slide .center {
  opacity: 0;
  transition: opacity linear 300ms;
}
.slide .panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide .top, .slide .bottom {
  content: attr(data-back);
  position: absolute;
  font-size: 50vh;
  font-weight: 800;
  height: 50vh;
  width: 100vw;
  text-align: center;
  z-index: 1;
  overflow: hidden;
  box-sizing: border-box;
  transition: transform 3s cubic-bezier(1, 0.005, 0.57, 0.865);
}
.slide .top:after, .slide .bottom:after {
  position: relative;
  display: inline-block;
  transition: transform 600ms cubic-bezier(1, 0.005, 0.57, 0.865);
  content: attr(data-back);
  font-family: "BenchNine", sans-serif;
}
.slide .top {
  line-height: 100vh;
  transform: translatey(-50vh);
}
.slide .top:after {
  transform: translatey(50vh);
}
.slide .bottom {
  bottom: 0;
  line-height: 0vh;
  transform: translatey(50vh);

}
.slide .bottom:after {
  transform: translatey(-50vh);
 
}
.slide.active .center {
  opacity: 1;
  transition: opacity linear 300ms;
  transition-delay: 600ms;
}
.slide.active .top, .slide.active .bottom {
  transition: none;
  transform: translatey(0);
  z-index: -1;
}
.slide.active .top:after, .slide.active .bottom:after {
  transition: transform cubic-bezier(0.23, 1, 0.32, 1) 1200ms;
  transform: translatey(0);
}