.conte{
 
    width: 100%;
    height: 86vh;
    
   }
   .mi{
     display: flex;
     align-items: center;
     justify-content: space-around;
     background: #FAFAFB;
   }
   .mi1{
    
     border: 2px solid;
     border: transparent;
     border-bottom: 2px solid #8C93A3;;
   }
   
   .mi1 p{
     display: flex;
     color: #8C93A3;;
     font-family:imported ;
     font-style: normal;
     font-weight: 500;
     font-size: 24px; 
    
     align-items: center;
     justify-content: space-around;
     
   }
   .mi2{
     border: 2px solid;
     border: transparent;
    
     border-bottom: 2px solid #8C93A3;;
   }
   .mi2 p{
     display: flex;
     color:  #8C93A3;;
      
     font-family:imported ;
     font-style: normal;
     font-weight: 500;
     font-size: 24px; 
    
     align-items: center;
     justify-content: space-around;
   }
   .mi3{
     border: 2px solid;
     border: transparent;
     border-bottom: 2px solid #F1A240;
      
   }
   .mi3 p{
     display: flex;
     color: #F1A240; 
     font-family:imported ;
     font-style: normal;
     font-weight: 500;
     font-size: 24px; 
    
     align-items: center;
     justify-content: space-around;
   }