
#d3demo{
	width: 50%;
	height: 300px;
     
}
@media screen and (max-width:840px) {
    #d3demo{
        width: 45vh;
        height: 35vh;
       
    }
}
@media screen and (max-width:720px) {
    #d3demo{
        width: 30vh;
        height: 35vh;
       
    }
}