*{
    margin:0;
    padding:0;
    text-decoration: none;
  }
  .container{
    display:flex;
  }
  main{
    width: 100%;
    
  }
  .sidebar{
    background: rgb(185, 183, 183);
    color: rgb(224, 200, 83);
    height: 90vh;
    width: 100%;
    transition: all 0.5s;
   border-right: 1px solid lightslategray;
  }
  .top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
  }
  .logo{
    font-size: 30px;
  }
  .bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
  }
  .links{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
  }
  .links:hover{
    background:lightskyblue;
    color: #000;
    transition: all 0.5s;
  }
  .active{
    background: lightskyblue;
    color: #000;
  }
  .icon, .link_text{
    font-size: 20px;
  }