*{
    margin:0;
    padding:0;
    text-decoration: none;
  }
  .container{
    display:flex;
  }
  main{
    width: 100%;
    
  }
  .sidebar{
    background: rgb(255, 255, 255);
    color: #000;
    height: 90vh;
    width: 100%;
    transition: all 0.5s;
   border-right: 2px solid #DBDBDB;
  }
  .top_section{
    display: flex;
    align-items:center;
    padding:15px 10px;
    background: #FFF8D7;
    
  }
  .logo{
    font-size: 30px;
  }
  .bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
  }
  .links{
    display: flex;
    color: rgb(44, 42, 42);
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
  }
  .links:hover{
    background-image: linear-gradient(0deg, #fece00 0%, #ffe172 100%);
    color: rgb(255, 255, 255);
    transition: all 0.5s;
  }
  .links.active{
    background-image: linear-gradient(0deg, #fece00 0%, #ffe172 100%);
    color: rgb(255, 255, 255);
  }
  .icon, .link_text{
    font-size: 20px;
  }
  .links::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  
  }
  
  .links:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
    
  }
  
  .links:hover{
    transform: translateY(-10px);
  }
  